body {
    margin: 0;
}
header {
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 60px;
    padding: 20px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-img {
    display: flex;
    width: 100%;
    height: 60vh;
    background-image: url(https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_960_720.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.main-img__name {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    font-family: 'Fascinate Inline', cursive;
    margin-top: 350px;
}
.header__links a {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    font-family: 'Fascinate Inline', cursive;
    margin: 0 15px;
}
.header__site-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    font-family: 'Fascinate Inline', cursive;
    margin: 0 15px;
}
.main-portrait {
    display: flex;
    width: 15%;
    height: 30vh;
    border: 2px solid red;
    border-radius: 100%;
    background-image: url(https://pp.userapi.com/c850036/v850036496/df6ad/NNKCZwsaq0I.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: absolute;
}
